.container_main{
    width: 70%;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.container_board{
    margin: 15% 6%
}
.notice_board{
    border: 1px  solid black;
    margin: 1% 0%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
/* .notice_title{background-color: aqua;}
.notice_name{background-color: rgb(80, 136, 89);}
.notice_date{background-color: rgb(172, 204, 58);} */